#homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
#homeContent h1 {
  margin-top: 50px;
  letter-spacing: 5px;
  border-bottom: 1px solid navy;
  /* box-shadow: 0px 6px 5px -5px black; */
}

img {
  width: 650px;
  border-radius: 65%;
  box-shadow: 0px 15px 30px black;
  border: double 6px goldenrod;
}
